name: Tests

on:
  schedule:
    - cron: '0 0 * * 0'
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v4

    - name: Install dependencies
      run: uv pip install --system fpylll pycryptodome

    - name: Run tests
      run: uv run python -m unittest discover -s tests -v
